parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with \$this\(PhpHive\\Cli\\AppTypes\\MagentoAppType\) and ''isDockerAvailable'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AppTypes/MagentoAppType.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(PhpHive\\Cli\\AppTypes\\MagentoAppType\) and ''isDockerInstalled'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AppTypes/MagentoAppType.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(PhpHive\\Cli\\AppTypes\\MagentoAppType\) and ''provideDockerInstal…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AppTypes/MagentoAppType.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(PhpHive\\Cli\\AppTypes\\MagentoAppType\) and ''startDockerContaine…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AppTypes/MagentoAppType.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(PhpHive\\Cli\\AppTypes\\MagentoAppType\) and ''waitForDockerService'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AppTypes/MagentoAppType.php
